html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

ul{
    list-style-type: none;
}


body{
    font-family: "Comfortaa", serif;
    font-size: 14px;
    font-weight: 400;
    font-style: inherit;
    background-color: #FFF8F3;
}

.container{
    max-width: 1330px;
    padding: 0 10px;
    margin: 0 auto;
}



.header{
    margin-bottom: 140px;
}

.header__inner{
    line-height: 1;
    font-family: "Comfortaa", serif;
    font-size: 14px;
    font-weight: 400;
    font-style: inherit;
}

.header__inner-item{
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header__item-menu{
    display: flex;
    padding-left: 250px;
    gap: 20px;
    margin-right: 195px;
}


.phone_img{
    margin-right: 5px;
}


.header__block-title{
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 30px;
    max-width: 391px;
    padding-top: 297px;
    padding-bottom: 15px;
}

.header__block-subtitle{
    padding-top: 4px;
    font-style: normal;
    max-width: 371px;
    padding-bottom: 54px;
    text-transform: normal;
}

.header__block-button{
    background-color: #FFBD59; 
    padding:  19px 45px;
}

.header__block-img{
    position: absolute;
    margin-top: 30px;
    margin-left: 290px;
}

.about{
    
    background-color: #A5978E;
}

.about__inner{
    margin-top: 411px;
    padding-top: 128px;
    color: #fff;
}

.about__inner-title{
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 40px;
    max-width: 391px;
    padding-bottom: 15px;
}

.about__inner-subtitle1{
    padding-top: 4px;
    font-style: normal;
    max-width: 371px;
    padding-bottom:10px ;
}

.about__inner-subtitle{
    padding-top: 4px;
    font-style: normal;
    max-width: 371px;
}


.about__gallary{
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 20px;
    padding-left: 480px;
    margin-top: -289px;
} 

.underline{
    margin-left: 370px;
    padding-bottom: 50px;
    padding-top: 106px;
}


.product__inner-title{
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 30px;
    max-width: 391px;
    padding-top: 153px;
    padding-bottom: 15px;
    margin-bottom:  4px;
}

.product__inner-subtitle{
    max-width: 371px;
}
.section__descrirption{
    flex-basis: 370px;
}

.product__inner{
    display: grid;
    grid-template-columns: 370px auto;
}

.section__descrirption{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 80px;
}


.product__item-menu{
    width: 290px;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
}

.product__item-img{
    margin-bottom: 8px;
}

.price{
    margin-bottom: 12px;
    font-size: 16px;
    font-family: "Yeseva One", serif;
    font-weight: 400;
}

.product__name{
    margin-bottom: 16px;
    font-size: 16px;
    font-family:"Yeseva One", serif ;
    font-weight: 400;
}

.discription_product{
    margin-bottom: 46px;
    
}


.underline__products{
    padding-top: 89px ;
    padding-left: 351px;
}








.step__name{
    text-align: left;
    font-size: 14px;
    max-width: 175px;
    padding: 0;
}

.step__inner-items{
    padding-top: 150px;
}
.step_number{
    color: #BEA495 ;
    text-align: left;
    font-size: 30px;
    font-family: "Yeseva One", serif;
    padding-top: 52px;
    
}

.step_number_end{
    margin-left: 110px;
    display: grid;
    place-items: center;
}

.step__item-menu{
    column-count: 2;
    padding: 25px auto 0 0;
}


.step__block + .step__block{
    margin-top: 70px;
}


.step__block{
    column-width: 382px;
}



.step__inner{
    display: grid;
    grid-template-columns: 370px auto;
    
}

.step__block-number{
    position: relative
}


.kurs__name{
    margin-bottom: 15px;
    padding-top: 28px;
    font-size: 16px;
    font-family:"Yeseva One", serif ;
    font-weight: 400;
}

.kurs__inner-product{
    display: grid;
    grid-template-columns: 50% 50%;
}

.course__inner{
    display: grid;
grid-template-columns: 370px auto;
}


.kurs__inner-product{
    padding-left: 75px;
    padding-top: 150px;
}

.discription_product{
    max-width: 268px;
    text-align: center;
}

.kurs-button{
    background-color: #FFBD59; 
    padding:  19px 45px;
    margin-left: 38px;
}

